<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blog<% if (title) { %><%- ' | ' + title -%><% } %> <% if (typeof tagline !== 'undefined') { %><%- ' - ' + tagline -%><% } %></title>
  </head>
  <body>
    <div class="container">
      <%- body -%>
    </div>
  </body>
</html>